@model AirportAPI.Entities.Models.Flight

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rediger flyafgang</h2>

<h4>Afgang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FlightId" />
            <input type="hidden" asp-for="AircraftType" />
            <input type="hidden" asp-for="FromLocation" />
            <input type="hidden" asp-for="ToLocation" />
            <input type="hidden" asp-for="FlightId" />
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.FlightId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FlightId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AircraftType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AircraftType)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FromLocation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FromLocation)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ToLocation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ToLocation)
                </dd>
            </dl>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gem" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage til oversigt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
